In [ ]:
def function_name():
    
    #statement

In [1]:
def greet():
    print("Helo, Welcome to Functions in Python!")

In [2]:
greet()

Helo, Welcome to Functions in Python!

In [3]:
def morning_routine():
    print("Wake up")
    print("Brush your teeth")
    print("Take a shower")
    print("Have breakfast")
    print("Go to work")

In [4]:
morning_routine()

Wake up
Brush your teeth
Take a shower
Have breakfast
Go to work

In [34]:
# Parameters and Arguments in Functions

def greet(abc):
    print("Helo", abc)

In [35]:
greet("Gaurav")

Helo Gaurav

In [8]:
def add(a,b):
    sum = a + b
    print("The sum is:", sum)

In [9]:
add(5,7)

The sum is: 12

In [10]:
add(10,15)

The sum is: 25

In [36]:
def student_info(name, age, grade):
    print("Name",name)
    print("Age",age)
    print("Grade",grade)

In [37]:
student_info("Alice", 14, "8th Grade")

Name Alice
Age 14
Grade 8th Grade

In [38]:
def greet1(name="Guest"):
    print("Hello", name)

In [40]:
greet1()
greet1("Bob")

Hello Guest
Hello Bob

In [ ]:
def login(username,password):
    if username == "admin" and password == "1234":
        print("Login Successful")
    else:
        print("Login Failed")

In [42]:
login("admin","1234")

Login Successful

In [54]:
def calculate_discount(price, discount_percentage):
    discount= (price * discount_percentage)/100
    final_price= price - discount
    print("The final price after discount is:", final_price)
    return final_price

In [55]:
abc1=calculate_discount(2000, 50)

The final price after discount is: 1000.0

In [56]:
abc1

1000.0

In [57]:
total_price=abc1+ 100  # adding shipping cost
print("Total price including shipping is:", total_price)

Total price including shipping is: 1100.0

In [22]:
def process_file(file_name,file_type):
    print("Processing file:", file_name)
    print("File type is:", file_type)

In [23]:
process_file("data.csv", "csv")

Processing file: data.csv
File type is: csv

In [24]:
import time 
start_time= time.time()
total=0
for i in range(1,1000001):
    total += i
end_time= time.time()
print("Sum is:", total)
print("Time taken to compute the sum:", end_time - start_time, "seconds")

Sum is: 500000500000
Time taken to compute the sum: 0.09586882591247559 seconds

In [25]:
import time
def calculate_sum():
    total=0
    for i in range(1,1000001):
        total += i
    return total
start_time= time.time()
sum= calculate_sum()
end_time= time.time()
print("Sum is:", sum)
print("Time taken to compute the sum:", end_time - start_time, "seconds")

Sum is: 500000500000
Time taken to compute the sum: 0.08233785629272461 seconds

In [26]:
# Return Values in Functions
def add(a,b):
    print(a+b)

result = add(3,4)
print("Result is:", result)  # This will print None because the function does not return

7
Result is: None

In [27]:
def add(a,b):
    return a + b

result = add(3,4)
print("Result is:", result)

Result is: 7

In [28]:
def add(a,b):
    return a + b

def sqaure(x):
    return x * x

In [29]:
result=sqaure(add(3,4))
print("Result is:", result)

Result is: 49

In [ ]:
def function_name():
    #statement
    return Value1,value2,value3....

In [30]:
def calculate():
    return 10,20

In [33]:
a,b=calculate()
print("Result is:", a,b)

Result is: 10 20

In [ ]:
Gauravdubey1184@gmail.com

sameersaraogi28@gmail.com

In [48]:
def add1(a,b):
    return a + b

In [49]:
result=add1(5,10)
print("Result is:", result)

Result is: 15

In [58]:
def calculate1():
    return 10,20,30

In [59]:
calculate1()

(10, 20, 30)

In [60]:
a,b,c=calculate1()

In [61]:
a

10

In [62]:
b

20

In [63]:
c

30

In [64]:
def student_result(marks):
    if marks>=40:
        return "Pass","Eligible for next level"
    else:
        return "Fail","Not Eligible for next level"

In [68]:
status,message= student_result(35)

In [69]:
status

'Fail'

In [70]:
message

'Not Eligible for next level'

In [71]:
def square(x):
    return x * x

In [72]:
print(square(2))

4

In [73]:
square=lambda x: x * x

In [74]:
print(square(5))

25

In [75]:
def add2(a,b):
    return a + b

In [76]:
add2(5,10)

15

In [77]:
add3=lambda a,b: a+b

In [78]:
print(add3(7,8))

15

In [79]:
def even_odd(num):
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [81]:
even_odd(5)

'Odd'

In [82]:
even_odd=lambda num:"Even" if num%2==0 else "Odd"

In [84]:
print(even_odd(5))

Odd

In [85]:
print((lambda x: x * x)(6))

36

In [ ]:
def countdown(n):
    if n==0:
        return
    print(n)
    countdown(n-1)

In [98]:
countdown(0)

0

In [99]:
def factorial(n):
    if n==0 or n==1:
        return 1
    return n*factorial(n-1)

In [101]:
factorial(4)

24

In [2]:
def print_numers(n):
    if n==0:
        return
    print(n)
    print_numers(n-1)
    #print(n)

In [6]:
print_numers(3)

3
2
1