Weâ€™ll cover each operator type like this:

What it is
Why we need it
Practical examples
What happens internally (objects, methods, memory)
Real-world usage
Common mistakes & interview traps

What is an Operator?

Definition

An operator is a symbol or keyword that tells Python to perform an operation on one or more values (operands).

Types of Operators in Python

Python has 7 major categories:
	1.	Arithmetic Operators
	2.	Assignment Operators
	3.	Comparison (Relational) Operators
	4.	Logical Operators
	5.	Bitwise Operators
	6.	Membership Operators
	7.	Identity Operators

Arithmetic Operators

Used for mathematical calculations

Operator                 Meaning
+                       Addition                         
-                       Subtraction
*                       Multiplication
/                       Division
//                      Floor division
%                       Modulus
**                      Power

In [1]:
a=10
b=10
print(a+b)

20

In [2]:
x="hello"
y="world"
print(x+y)

helloworld

In [3]:
a=20
b=5
print(a-b)

15

In [4]:
print(5*4)

20

In [5]:
print("Hi" * 3)

HiHiHi

In [ ]:
print(10/3)

3.3333333333333335

In [10]:
print(10.0//3)

3.0

In [11]:
print(10%3)

1

In [12]:
print(2**3)

8

In [17]:
print(38//3)

12

In [16]:
print(-38//3)

-13

In [18]:
import math 
print(math.floor(2.9))

2

In [19]:
print(math.ceil(2.1))

3

In [20]:
print(round(3.14159,2))

3.14

In [21]:
#Assignment Operators
a=10

In [22]:
#Compound Assignment Operators
a=10
a +=5

In [23]:
a

15

Operator                 Meaning
+=                      add and assign 
-=                      subtract and assign 
*=                      multiply and assign 
/=                      divide and assign 
//=                     floor divide 
%=                      modulus 
**=                     power

In [25]:
a=[1,2]
a +=[3]

In [26]:
a

[1, 2, 3]

Operator                 Meaning
==                      equal to
!=                      not equal to
>                       greater than
<                       less than
>=                      greater than or equal to
<=                      less than or equal to

In [27]:
a=10
b=10 
print(a==b)

True

In [28]:
print(a is b)

True

In [29]:
a=[1,2]
b=[1,2]
print(a==b)
print(a is b)

True
False

# Logical Operators
Operator                 Meaning
and                      Returns True if both statements are true   
or                       Returns True if one of the statements is true
not                      Reverse the result, returns False if the result is true

In [30]:
a=10 
b=10 
print(a==10 and b==10)

True

In [32]:
x=10 
print(x>15 and x<15)

False

In [33]:
print(0 or 10)

10

In [34]:
x=10 
print(x>15 or x<15)

True

In [35]:
print(not True)

False

In [36]:
print(not 0)

True

#Membership Operators
Operator                 Meaning
in                       Evaluates to true if it finds a variable in the specified sequence and false otherwise.
not in                   Evaluates to true if it does not find a variable in the specified sequence and false otherwise.

value in collection 
value not in collection

Membership Operators Supported Datatypes 
str
list 
tuple 
set 
dict( check keys only but not values)
custom objects (via __contains__ )

In [40]:
text="Python programming"
print("Python" in text)
print("Java" in text)
print("prog" in text)

True
False
True

In [41]:
word="dataengineering"
if "engine" in word:
    print("Found")

Found

In [43]:
numbers=[10,20,30,40,50]
print(25 in numbers)
print(30 in numbers)

False
True

In [45]:
users=["admin","user1","user2","user3"]
username="user3"
if username not in users:
    print("Access Denied")
else:
    print("Access Granted")

Access Granted

In [46]:
coords=(10,20,30)
print(10 in coords)

True

In [49]:
ids={1001,1002,1003}
print(1004 not in ids)
print(1002 in ids)
print(1005 in ids)

True
True
False

In [ ]:
lst=list(range(1000000))
st=set(lst)
print(999999 in lst) # Slower for large datasets
print(999999 in st) # Fastest way to check membership in large datasets

True
True

In [52]:
student={
    "Name":"AWS",
    "age":25
}
print("Name" in student)
print("grade" not in student)   
print("AWS" in student)

True
True
False

In [53]:
print("AWS" in student.values())

True

Identity Operators 

Identity operators are used to check whether two variables point to the SAME object in memory, not weather their values are equal

two identity operators 
Operator                 Meaning
is                       Returns True if both variables point to the SAME object in memory
is not                   Returns True if both variables do NOT point to the SAME object in memory

a is b 

a is not b 

a=10 
b=10

print(a ==b). True 

print( a is b )  True ( WHY?)
--> Python caches samll interger from -5 to 256

In [58]:

a=100000
b=100000

In [59]:
a is b

False

In [63]:
s3="Python"
s4="Python"
print(s3 is s4)

True

In [64]:
s1="Py thon"
s2="Py thon"
print(s1 is s2)

False

In [62]:
print(s1==s2)

True

In [65]:
print(id(s1),id(s2))
print(id(s3),id(s4))

4399151984 4399146736
4349866664 4349866664

In [66]:
import sys
s1=sys.intern(s1)
s2=sys.intern(s2)
print(s1 is s2)

True

In [67]:
s1="Py-thon"
s2="Py-thon"
print(s1 is s2)

False

In [68]:
a=[1,2,3,4]
b=[1,2,3,4]

print(a==b)
print(a is b)

True
False

In [69]:
c=a
print(a is c)

True

In [70]:
a=[1,2]
b=a
print(a is b)

True

In [71]:
b.append(3)
print(a)

[1, 2, 3]

In [72]:
d1={"a":1}
d2={"a":1}
print(d1==d2)
print(d1 is d2)

True
False