List 
Tuple 
Set 
Dictionary 
String 
User input 


loops 
for 
while

In [ ]:
for variable in collection:
    code_to execute

In [1]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [2]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [3]:
number=[1,2,3,4,5]
for num in number:
    if num >3:
        print(num)

4
5

In [4]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num % 2 == 0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd

In [ ]:
# List 
["a", "b", "c"] 
[1, 2, 3, 4, 5]
["apple", "banana", "cherry"]
["a",1,True,3.5]
# Ordered 
# Allow duplicate 
# Mutuable ( Can Modify )
# Can store different data types

# Tuple
#Ordered
# Allow duplicate
# Immutable ( Cannot Modify )
# Can store different data types
("a", "b", "c")
(1, 2, 3, 4, 5)
("apple", "banana", "cherry")
("a",1,True,3.5)

#Set 
# Store unique items
# Unordered
# Mutable ( Can Modify )
# Can store different data types
{"a", "b", "c"}
{1, 2, 3, 4, 5}
{"apple", "banana", "cherry"}
{"a",1,True,3.5} 

# Dictionary
# Store data in key-value pairs
# Unordered
# Mutable ( Can Modify )
# Can store different data types
{"name": "Alice", "age": 25, "city": "New York"}
{"fruit": "apple", "color": "red", "price": 0.5}
{"a": 1, "b": 2, "c": 3}  

#String
name="Python"


# List= Data change,order matters 
# Tuple= Data cannot change, order matters
# Set= Unique values 
# Dictionary= Key-value pairs (Lablled data)
# String = Text processing

In [5]:
cords=(10,20)
cords[0]=15

TypeError: 'tuple' object does not support item assignment

In [6]:
cordsa=[10,20]
cordsa[0]=15

In [7]:
cordsa

[15, 20]

In [ ]:
# For value in collection:
#     code to execute

In [8]:
numbers = [1, 2, 3, 4, 5]

In [ ]:
numbers[0]

5

In [11]:
for num in numbers:
    print(num)

1
2
3
4
5

In [ ]:
#Range Function
range(start,stop,step)

In [14]:
for i in range(0,6,2):
    print(i)

0
2
4

In [15]:
for ch in "Python":
    print(ch)

P
y
t
h
o
n

In [17]:
studnets={"name":"Anuj","age":24,"city":"New Delhi"}
for key in studnets:
    print(key)

name
age
city

In [18]:
for value in studnets.values():
    print(value)

Anuj
24
New Delhi

In [20]:
for key,value in studnets.items():
    print(key,value)

name Anuj
age 24
city New Delhi

In [21]:
# Print numbers from 1 to 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [22]:
# print number 0 to 9
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [23]:
#Print even numbers between 1 to 20
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [24]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [25]:
for i in range(1,11):
    if i%2==0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [26]:
#Print multiple of 3 between 1 to 30
for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [28]:
for i in range(1,11):
    if i==7:
        break
    print(i)

1
2
3
4
5
6

In [29]:
total=0
for i in range(1,6):
    total=total+i
print(total)

15

In [30]:
count=0
for i in range(1,51):
    if i%2==0:
        count+=1
print(count)

25

In [ ]:
num1=int(input("Enter start value: "))
num=int(input("Enter end value: "))
for i in range(num1,num+1):
    print(i)

1
2
3
4
5

range() - 

without range ()
- 
with range 


number=[1,2,3,4,5,6,7,8,9]

In [34]:
number

[1, 2, 3, 4, 5]

In [35]:
r=range(5)
print(r)

range(0, 5)

In [38]:
range(2,7)

range(2, 7)

In [39]:
number=[1,2,3,4,5,6,7,8,9]
for i in number:
    print(i)

1
2
3
4
5
6
7
8
9

In [42]:
for i in range(1,5):
    print(i)
    print("Inside for loop")
print("Done")

1
Inside for loop
2
Inside for loop
3
Inside for loop
4
Inside for loop
Done

In [45]:
for i in range(2,5,3):
    print(i)

2

In [50]:
for i in range(1,11):
    if i%2==0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [51]:
for marks in range(1,101):
    if marks>=90:
        grade='A'
    elif marks>=80:
        grade='B'
    elif marks>=70:
        grade='C'
    elif marks>=60:
        grade='D'
    else:
        grade='Fail'
    print(f"Marks: {marks}, Grade: {grade}")

Marks: 1, Grade: Fail
Marks: 2, Grade: Fail
Marks: 3, Grade: Fail
Marks: 4, Grade: Fail
Marks: 5, Grade: Fail
Marks: 6, Grade: Fail
Marks: 7, Grade: Fail
Marks: 8, Grade: Fail
Marks: 9, Grade: Fail
Marks: 10, Grade: Fail
Marks: 11, Grade: Fail
Marks: 12, Grade: Fail
Marks: 13, Grade: Fail
Marks: 14, Grade: Fail
Marks: 15, Grade: Fail
Marks: 16, Grade: Fail
Marks: 17, Grade: Fail
Marks: 18, Grade: Fail
Marks: 19, Grade: Fail
Marks: 20, Grade: Fail
Marks: 21, Grade: Fail
Marks: 22, Grade: Fail
Marks: 23, Grade: Fail
Marks: 24, Grade: Fail
Marks: 25, Grade: Fail
Marks: 26, Grade: Fail
Marks: 27, Grade: Fail
Marks: 28, Grade: Fail
Marks: 29, Grade: Fail
Marks: 30, Grade: Fail
Marks: 31, Grade: Fail
Marks: 32, Grade: Fail
Marks: 33, Grade: Fail
Marks: 34, Grade: Fail
Marks: 35, Grade: Fail
Marks: 36, Grade: Fail
Marks: 37, Grade: Fail
Marks: 38, Grade: Fail
Marks: 39, Grade: Fail
Marks: 40, Grade: Fail
Marks: 41, Grade: Fail
Marks: 42, Grade: Fail
Marks: 43, Grade: Fail
Marks: 44, Grade: Fail
Marks: 45, Grade: Fail
Marks: 46, Grade: Fail
Marks: 47, Grade: Fail
Marks: 48, Grade: Fail
Marks: 49, Grade: Fail
Marks: 50, Grade: Fail
Marks: 51, Grade: Fail
Marks: 52, Grade: Fail
Marks: 53, Grade: Fail
Marks: 54, Grade: Fail
Marks: 55, Grade: Fail
Marks: 56, Grade: Fail
Marks: 57, Grade: Fail
Marks: 58, Grade: Fail
Marks: 59, Grade: Fail
Marks: 60, Grade: D
Marks: 61, Grade: D
Marks: 62, Grade: D
Marks: 63, Grade: D
Marks: 64, Grade: D
Marks: 65, Grade: D
Marks: 66, Grade: D
Marks: 67, Grade: D
Marks: 68, Grade: D
Marks: 69, Grade: D
Marks: 70, Grade: C
Marks: 71, Grade: C
Marks: 72, Grade: C
Marks: 73, Grade: C
Marks: 74, Grade: C
Marks: 75, Grade: C
Marks: 76, Grade: C
Marks: 77, Grade: C
Marks: 78, Grade: C
Marks: 79, Grade: C
Marks: 80, Grade: B
Marks: 81, Grade: B
Marks: 82, Grade: B
Marks: 83, Grade: B
Marks: 84, Grade: B
Marks: 85, Grade: B
Marks: 86, Grade: B
Marks: 87, Grade: B
Marks: 88, Grade: B
Marks: 89, Grade: B
Marks: 90, Grade: A
Marks: 91, Grade: A
Marks: 92, Grade: A
Marks: 93, Grade: A
Marks: 94, Grade: A
Marks: 95, Grade: A
Marks: 96, Grade: A
Marks: 97, Grade: A
Marks: 98, Grade: A
Marks: 99, Grade: A
Marks: 100, Grade: A

In [58]:
n=int(input("Enter a number: "))
for i in range(1,n+1):
    if i%2==0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [63]:
sum=0
x=int(input("Enter a number: "))
for i in range(1,x+1):
    if i%2==0:
        sum=sum+i
print(f"Sum of Even nos {sum}")

Sum of Even nos 30

In [64]:
for i in range(1,11):
    if i%2==0:
        if i>5:
            print(f"{i} is even and greater than 5")
        else:
            print(f"{i} is even and less than or equal to 5")
    else:
        print(f"{i} is odd")

1 is odd
2 is even and less than or equal to 5
3 is odd
4 is even and less than or equal to 5
5 is odd
6 is even and greater than 5
7 is odd
8 is even and greater than 5
9 is odd
10 is even and greater than 5

In [65]:
for i in range(1,21):
    if i%2==0:
        if i%3==0:
            print(i,"Divisibale by 2 and 3 both")
        else:
            print(i,"Divisible by 2 only")
    elif i%3==0:
        print(i,"Divisible by 3 only")
    else:
        print(i,"Not divisible by 2 and 3")

1 Not divisible by 2 and 3
2 Divisible by 2 only
3 Divisible by 3 only
4 Divisible by 2 only
5 Not divisible by 2 and 3
6 Divisibale by 2 and 3 both
7 Not divisible by 2 and 3
8 Divisible by 2 only
9 Divisible by 3 only
10 Divisible by 2 only
11 Not divisible by 2 and 3
12 Divisibale by 2 and 3 both
13 Not divisible by 2 and 3
14 Divisible by 2 only
15 Divisible by 3 only
16 Divisible by 2 only
17 Not divisible by 2 and 3
18 Divisibale by 2 and 3 both
19 Not divisible by 2 and 3
20 Divisible by 2 only

1. Print numbers from 1 to 20 
2. print square of numbers from 1 to 10 
3. print number from 1 to 30 
    - If divisible by 3 - print "fizz"
    - Else - print the number 
4. print number from 1 to 30 
    if divisble by 4 - Even & Divisible by 4 
        else Even 
    else odd 


n=input("Enter no")
for in in range (1,n+1):
    print(i)


5. Loop from 1 to N. for each number i , print one lable 

    1. if i is prime 
        - if i even - print i (Prime and Even only for 2)
        - else - print i -- Prime-Odd
    2. Else (Not Prime)
        - if i is Even 
            - if i is [N//2]- i --> NonPrime Even - Lowerhalf 
            - Else - i Non Prime- Even upperHalf 
    3. Else (odd)
        If i is multiple of 3 -- i Non prime Odd 
        Else - i NonPrime Odd

In [69]:
n=int(input("Enter a number"))
if n<2:
    print("Not a prime no ")
else:
    is_prime=True
    for i in range(2,n):
        if n%i==0:
            is_prime=False
            break
    if is_prime:
        print(f"{n} is a prime number")
    else:
        print(f"{n} is not a prime number")

5 is a prime number