In [1]:

d={"a":1,"b":2,"c":3}

# d=dict(name="abc",age=25)

# pairs=[("a",1),("b",2)]
# d=dict(pairs)

In [2]:
d

{'a': 1, 'b': 2, 'c': 3}

In [4]:
d["d"]

KeyError: 'd'

In [5]:

d=dict(name="abc",age=25)

In [6]:
d

{'name': 'abc', 'age': 25}

In [7]:
d["name"]

'abc'

In [8]:
d["age"]

25

In [ ]:
d.get("sala",0) # Always perfer to use get

0

In [13]:
students={
    "name":"abc",
    "age":25,
    "city":"Pune"
}

In [14]:
#Add new key 

students["salaey"]=50000

In [15]:
students

{'name': 'abc', 'age': 25, 'city': 'Pune', 'salaey': 50000}

In [16]:
#update the value 

students["age"]=60

In [17]:
students

{'name': 'abc', 'age': 60, 'city': 'Pune', 'salaey': 50000}

In [19]:
#Remove Values 
# del 
del students["salaey"]

In [20]:
students

{'name': 'abc', 'age': 60, 'city': 'Pune'}

In [ ]:
# pop
#popitem()
# clear

In [21]:
for k in students:
    print(k)

name
age
city

In [24]:
for v in students.values():
    print(v)

abc
60
Pune

In [25]:
for k,v in students.items():
    print(k,v)

name abc
age 60
city Pune