In [1]:

d={"a":1,"b":2,"c":3}

# d=dict(name="abc",age=25)

# pairs=[("a",1),("b",2)]
# d=dict(pairs)

In [2]:
d

{'a': 1, 'b': 2, 'c': 3}

In [4]:
d["d"]

KeyError: 'd'

In [5]:

d=dict(name="abc",age=25)

In [6]:
d

{'name': 'abc', 'age': 25}

In [7]:
d["name"]

'abc'

In [8]:
d["age"]

25

In [ ]:
d.get("sala",0) # Always perfer to use get

0

In [13]:
students={
    "name":"abc",
    "age":25,
    "city":"Pune"
}

In [14]:
#Add new key 

students["salaey"]=50000

In [15]:
students

{'name': 'abc', 'age': 25, 'city': 'Pune', 'salaey': 50000}

In [16]:
#update the value 

students["age"]=60

In [17]:
students

{'name': 'abc', 'age': 60, 'city': 'Pune', 'salaey': 50000}

In [19]:
#Remove Values 
# del 
del students["salaey"]

In [20]:
students

{'name': 'abc', 'age': 60, 'city': 'Pune'}

In [ ]:
# pop
#popitem()
# clear

In [21]:
for k in students:
    print(k)

name
age
city

In [24]:
for v in students.values():
    print(v)

abc
60
Pune

In [25]:
for k,v in students.items():
    print(k,v)

name abc
age 60
city Pune

In [1]:
d={"a":1,"b":2,"c":3}
d.keys()

dict_keys(['a', 'b', 'c'])

In [2]:
d={"a":1,"b":2,"c":3}
k=d.keys()
print("Before:",k )
d["city"]="Pune"
print("After:",k)

Before: dict_keys(['a', 'b', 'c'])
After: dict_keys(['a', 'b', 'c', 'city'])

In [4]:
for key in d:
    print(key)

a
b
c
city

In [5]:
for k in d.keys():
    print(k)

a
b
c
city

In [7]:
print("ccv" in d)

False

In [8]:
keys_list=list(d.keys())
print(keys_list)

['a', 'b', 'c', 'city']

In [10]:
record={"name":"abc","age":25,"city":"Pune"}
required_keys=["name","city","salary"]
missing=required_keys - record.keys()
print(missing)

{'salary'}

In [11]:

d={"a":1,"b":2,"c":3}
v=d.values()
print(v)

dict_values([1, 2, 3])

In [12]:
d={"a":1,"b":2,"c":3}
k=d.values()
print("Before:",k )
d["city"]="Pune"
d["age"]=60
print("After:",k)

Before: dict_values([1, 2, 3])
After: dict_values([1, 2, 3, 'Pune', 60])

In [13]:
for value in d.values():
    print(value)

1
2
3
Pune
60

In [14]:
valu=list(d.values())
print(valu)

[1, 2, 3, 'Pune', 60]

In [15]:
print(valu[0])

1

In [16]:
sal={"A":40000,"B":50000,"C":60000,"D":70000,"E":80000}
total=sum(sal.values())
print(total)

300000

In [17]:
status={"job1":"SUCCESS","job2":"FAILURE","job3":"SUCCESS","job4":"FAILURE"}
if "FAILURE" in status.values():
    print("Alert! There is a job failure.")

Alert! There is a job failure.

In [18]:
d={"name":"Raj","age":30,"city":"Pune"}
it=d.items()
print(it)

dict_items([('name', 'Raj'), ('age', 30), ('city', 'Pune')])

In [19]:
for k in d:
    print(k,d[k])

name Raj
age 30
city Pune

In [20]:
for k,v in d.items():
    print(k,v)

name Raj
age 30
city Pune

config={"host":"db","port":5432,"schema":"public"}
for k,v in config.items():
    print(f"{k}={v}")

In [21]:
config={"host":"db","port":5432,"schema":"public"}
for k,v in config.items():
    print(f"{k}={v}")

host=db
port=5432
schema=public

In [22]:
d={"name":"Raj","age":30,"city":"Pune"}
print(d["city"])

Pune

In [23]:
d={"name":"Raj","age":30,"city":"Pune"}
print(d["sal"])

KeyError: 'sal'

In [27]:
print(d.get("sal"))

None

In [28]:
logs=["A","B","A","C","A"]
freq={}
for x in logs:
    freq[x]=freq.get(x,0)+1
print(freq)

{'A': 3, 'B': 1, 'C': 1}

In [ ]:
logs=["A","B","A","C","A"]
freq={}
for x in logs:
    freq[x]=freq.get(x,0)
    freq[x] +=1
print(freq)

TypeError: unsupported operand type(s) for +=: 'NoneType' and 'int'

In [30]:
freq={}
x="A"

In [31]:
freq[x] +=1

KeyError: 'A'

In [34]:
d= {"A":3,"B":1,"C":1}
d.update({"C":31,"City":"Pune"})
print(d)

{'A': 3, 'B': 1, 'C': 31, 'City': 'Pune'}

In [35]:
c={}
c.setdefault("age",30)

30

In [36]:
c

{'age': 30}

In [37]:
c.setdefault("age",35)

30