In [ ]:
numbers= [10,20,30,40,50]

In [ ]:
# Access Elelments 
print(numbers[4])  # First Element

In [ ]:
print(numbers[-2])  # Last Element

In [ ]:
print(numbers[20])

In [ ]:
num=[10,20,30,40,50]

In [ ]:
num[1:3:2]

In [ ]:
#slicing 

numbers=[10,20,30,40,50,60]

In [ ]:
numbers[2:4:2]

In [ ]:
# Slice from index 1 to 4
#numbers[1:5]
# slice from beginnning 
#numbers[:4]
# slice till end 
numbers[2:]
# Full list copy

In [ ]:
numbers[:]

In [ ]:
#Every 2nd Element
numbers[::2]

In [ ]:
# Reverse a list
numbers[::-1]

In [ ]:
print(numbers[-5:-2])

In [ ]:
test=[1,2,3,4,5,6,7,8,9,10]

In [ ]:
test[::-3]

In [ ]:
# lenght of list
len(test)

In [ ]:
print(len(test))

In [ ]:
print(test[-3])

In [ ]:
print(test[-11])

In [ ]:
a=[1,2,3,4,5]

In [ ]:
a[2]

In [ ]:
a[2]=10

In [ ]:
a

In [ ]:
prices=[100,200,300,400,500]
prices[1]=250
prices

In [ ]:
x= [1,2,3,4]
x[0]=x[-1]
x[-1]=100

In [ ]:
x

In [ ]:
x[0:len(x)]

In [ ]:
#Examples 
a=[0,1,2,3,4,5,6,7,8,9]

In [ ]:
print(a[8:2:-2])

In [ ]:
print(a[-2:-9:-3])

In [ ]:
print(a[100:2:-3])

In [ ]:
print(a[-8:8:2])

# Master Rule 

1. Start is included 
2. End is excluded 
3. Step decides the direction 
4. Wrong direction --> Empty List 
5. Python never throws error in slicing ( unlike indexing )

In [ ]:
# a=[10,20,30,40,50,60,70,80,90]
# print(a[-3:2:-2])
# print(a[6:1:-3])
# print(a[::-3])

1. append()
2. extend()
3. insert()

In [ ]:
a=[1,2,3]

In [ ]:
a.append(4)

In [ ]:
a

In [ ]:
a=[1,2]
a.append([3,4])

In [ ]:
a

In [ ]:
responses=[]
responses.append({"status":"200","data":"ok"})

In [ ]:
responses

In [ ]:
square=[]
for i in range(1,6):
    square.append(i*i)

In [ ]:
square

In [ ]:
a=[1,2]
a.extend([3,4,5])
print(a)

In [ ]:
a=[1,2]
a.extend("ABC")
print(a)

Diffrences append() and extend()

ADDS -- Signle object       Multiple Object 
Nested list possible -- Yes   No 
Accepts Iterables --- Yes     Yes 
Common bug : append(list).     extend(string)

In [ ]:
a=[1,2]
a.append([3,4])
a.extend([5,6])
a

In [ ]:
b=[]
b.extend("PY")
b.append("THON")
b

In [ ]:
c=[10,20,30]
c.insert(1,[99,100])
c

In [ ]:
lst=[[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
lst[::-1][0][1:]

In [ ]:
lst[0]

In [ ]:
lst[0][1]

In [ ]:
lst[:1][0]

In [ ]:
lst[1][1:]

In [ ]:
lst[1:2][0][1:]

In [ ]:
lst[::-1][0][1:]

In [ ]:
lst=[[1,2],[3,4],[5,6]]

In [ ]:
sub=lst[:2]
sub[0][0]=99
print(lst)

In [ ]:
# list.append()
# list.extend()
# list.insert(index, element)

In [ ]:
a=[10,20,30,40,50]
a.insert(1,99)

In [ ]:
a

In [ ]:
a.insert(999)

In [ ]:
a

# Removing Elelments 
1. Remove

In [ ]:
a=[10,20,20,30,40,50]
a.remove(20)
print(a)

In [ ]:
a=[10,20,30]
x=a.pop(1)
print(x)
print(a)

In [ ]:
a.pop(1)

In [ ]:
a=[10,20,20,30,40,50]
del a[1:4]

In [ ]:
a

In [ ]:
del a

In [ ]:
a=[1,2,3,4,5]

In [ ]:
a

In [ ]:
a.clear()

In [ ]:
a

In [ ]:
a=[1,2,2,2,3]
for x in a:
    if x==2:
        a.remove(x)
print(a)

In [ ]:
a=[1,2,2,2,3]
for i in range(len(a)-1,-1,-1):
    if a[i]==2:
        a.pop(i)
print(a)

In [ ]:
a=[1,2,2,2,3]
for i in range(len(a)-1,-1,-1):
    print(i)

In [ ]:
a=[1,2,2,2,3]
for x in a:
    print(x)

In [ ]:
lst=[]
lst=list()

In [ ]:
lst

List & Operations and Built In functions  :

1. Basic Operators = (+,*,in,not in )
2. Core built ins : ( len, max, min, sum )
3. Sorting : ( sort, sorted,key,reverse)
4. Common list methods : (count,index,copy)
5. Iteration utilities : (enumerate,zip)
6. functional : (any,all,map,filter)
7. Conversion & useful patterns : ( list(),join,flatten,dedupe)

1. Basic Operators = (+,*,in,not in )

In [ ]:
# Concatenation
a=[1,2]
b=[3,4]
c=a+b
print(c)

In [ ]:
print(id(a))

In [ ]:
batch1=[{"id":1},{"id":2}]
batch2=[{"id":3},{"id":4}]

In [ ]:
weekdays=["Mon","Tue","Wed","Thu","Fri"]
weekend=["Sat","Sun"]   
week=weekdays+weekend

In [ ]:
result=[]
for x in range(10000):
    result=result+[x]

In [ ]:
result=[]
for x in range(10000):
    result.append(x)

In [ ]:
week

In [ ]:
#Repetition 
a=[7]*5
print(a)

In [ ]:
months_sale=[0]*12
months_sale

In [ ]:
x=[[0]]*5
x[0][0]=99
print(x)

In [ ]:
x=[[0]]*3

In [ ]:
x

In [ ]:
x=[[0] for _ in range(3)]

In [ ]:
x

In [ ]:
x[0][0]=99

In [ ]:
x

In [ ]:
lst=[10,20,30]
print(20 in lst) 
print(40 in lst)

In [ ]:
columns=["id","name","age","address"]
if "age" in columns:
    print("Age column is present")

In [ ]:
records=[{"id":1},{"id":2}]
{"id":1} in records

In [ ]:
lst=[1,2,3]
print(2 not in lst)

In [ ]:
seen=[101,102,103]
new_id=104
if new_id not in seen:
    seen.append(new_id)
else:
    print("ID already exists")

In [ ]:
seen

In [ ]:
def fetch_api_data(n):
    return 2

In [ ]:
records=[]
if len(records)>0:
    print("Data fetched")
else:
    print("No Data")

In [ ]:
records

In [ ]:
lst=[[1,2],[3,4],[5,6]]
print(len(lst))

In [ ]:
max([1,2,3])

In [ ]:
max("a","z","c")

In [ ]:
max(["apple","banana"]) # ASCII/unicode order

In [ ]:
max([])

In [ ]:
#mixed type 
max([1,"apple",3.5])

In [ ]:
words=["apple","kiwiiiiiiiii","banana"]
max(words,key=len)

In [ ]:
max(['zzzz','zaaaa'])

In [ ]:
sum([1,2,3])
#sum([1,2,3],10)

In [ ]:
sum([1,2,3])

In [ ]:
daily_sales=[100,200,300,400,500]
total_sales=sum(daily_sales)
total_sales

In [ ]:
values=[20,None,30]

In [ ]:
sum(values)

In [ ]:
cleaned=[v for v in values if v is not None]
total=sum(cleaned)
total

In [ ]:
nums=[10,20,30]
avg=sum(nums)/len(nums)
avg

1. nums=[10,20,4,45,99,99]
find the second largest unique value 

expected: 45

max=0
second_max=0
for x in nums:
    if x >= max:
        max=x
        second_max=max
print(max)
print(second_max)

In [ ]:
nums=[10,20,4,45,99,99]
max=0
second_max=0
for x in nums:
    if x >= max:
        second_max=max
        max=x
print(max)
print(second_max)

largest=None
second_largest=None 

for x in nums:
    if largest is None:
        largest=x
    elif x > largest:
        second_largest=largest
        largest=x 
    elif x!=largest and (second_largest is None or x > second_largest):
        second_largest=x 
print(second_largest)

In [ ]:
nums=[10,20,4,45,99,99]
largest=None
second_largest=None 

for x in nums:
    if largest is None:
        largest=x
    elif x > largest:
        second_largest=largest
        largest=x 
    elif x!=largest and (second_largest is None or x > second_largest):
        second_largest=x 
print(second_largest)

Find the missing number in sequence 
2. nums =[1,2,4,5,6]

expected : 3 

3. Find the element that appers more then half the time ( Majority element (> n/2 times ))

nums= [2,2,1,2,3,2,2]

expected ; 2 

4. Closest number to Zero

nums=[-10,-5,2,4,-3] 

expected : -3 

5. Check if the list can be split into 2 parts with equal sum 

num=[1,2,3,3]

true

How can we modify nested list?

In [ ]:
nums=[3,2,1]
nums.sort()
print(nums)

In [ ]:
print(nums.sort())

In [ ]:
nums=[3,2,1]
result=nums.sort()
print(result)

In [ ]:
nums=[3,1,2]
nums_sorted=sorted(nums)
print(nums_sorted)
print(nums)

nums=[5,1,4,2]
n=len(nums)
for i in range(n):
    for j in range(0,n-i-1):
        if nums[j] > nums[j+1]:
            nums[j],nums[j+1]=nums[j+1],nums[j]
print(nums)

In [ ]:
words=["banana","apple","cherry"]
words.sort(key=len)

In [ ]:
nums=[5,1,4,2]
n=len(nums)
for i in range(n):
    for j in range(0,n-i-1):
        if nums[j] > nums[j+1]:
            nums[j],nums[j+1]=nums[j+1],nums[j]
print(nums)

[5,7,9,3,4,8,1]

[0 1 2 3 4 5 6 ]

Step 1 : Detect natural runs 

Run 1 --> 5 < 7 < 9.      [5,7,9].  

Run 2 ---> 3 < 4 < 8 (Increasing order )

run 3 ----> 1 


run 1 - [5,7,9]
run 2 - [3,4,8]
run 3 - [1]

Step 2 : Python ensure each run has lenght >= minrun

[1,3,4,5,7,8,9]

In [ ]:
employees=[
    {"name":"A","salary":50000},
    {"name":"B","salary":80000},
    {"name":"C","salary":60000}
]

Sort the records by salary

In [ ]:
employees.sort(key=lambda x:x["salary"],reverse=False)
print(employees)

In [ ]:
data=[(1,3),(4,1),(2,2)]
data.sort()
print(data)

In [ ]:
nums=[1,2,3,4,5,5,5,5]
count=0
for x in nums:
    if x==5:
        count += 1
print(count)

In [ ]:
nums=[1,2,2,3,4,5,5,5,5]
max_count=0
max_element=None 

for i in range(len(nums)):
    count=0
    for j in range(len(nums)):
        if nums[i] == nums[j]:
            count += 1
    if count > max_count:
        max_count=count
        max_element=nums[i]
print(max_element)

In [ ]:
a=[1,2,3]
b=a
print(b)

In [ ]:
print(id(a))
print(id(b))

In [ ]:
# Shallow Copy
copy.copy()
list()
dict()
set()   
slice[:]

In [ ]:
import copy 
original=[[1,2],[3,4]]
shallow=copy.copy(original)

In [ ]:
shallow

In [ ]:
shallow[0][0]=99
print(original)

In [ ]:
shallow.append([5,6])
print(original)

In [ ]:
print(shallow)

# Deep Copy 
import copy 
copy.deepcopy()
original=[[1,2],[3,4]]
deep=copy.deepcopy(original)

In [ ]:
import copy 
original=[[1,2],[3,4]]
deep=copy.deepcopy(original)

In [ ]:
deep[0][0]=99
print(original)

In [ ]:
deep

x=[[0]] * 3

x[0][0]=99
print(x)

In [ ]:
x=[[0]] * 3

x[0][0]=99
print(x)

Shallow Copy :

Photocopy of a file that still points to the same attched documents

Deep Copy :

Completly new file with all documents duplicated 

Feature             Shallow copy                Deep Copy 

Outer Object        New                             New 
Inner Object        Shared                          New 
Speed               Faster                          Slower 
Nested              No                              Yes
Memory Usages       Less                            More 


When Deep copy is Required?
- Nested List 
- Dict if list 
- Json like data 
- Data pipeline ( Spark )


2. Why shallow copy is dangerous?

----> Because modifiting nested objects affects original 


3. Is slicing deep Copy?

----> No, Slicing is shallow copy 


4. Why deepcopy is slower ?

----> Because it recursively copies everything.

In [ ]:
#5. Iteration utilities : (enumerate,zip)
#without enumerate
names=["Alice","Bob","Charlie"]
for i in range(len(names)):
    print(i,names[i])

In [ ]:
for i,name in enumerate(names,start=2):
    print(i,name)

tasks=["login","upload","download"]
for step,task in enumerate(tasks,start=1):
    print(f"Step {step}:"{task}")

In [ ]:
tasks=["login","upload","download"]
for step,task in enumerate(tasks,start=1):
    print (f"Step {step}:{task}")

nums=[10,20,30,40] --------len(nums) = 4 
for i in range (len(nums)):    ----------range(4) ----------0,1,2,3
    print(i,nums[i])

Problem :
1. You only get index, not value directly 
2. Easy to amke indexing mistake 
3. Less Redable 
4. Vreaks if collection type changes (list--> Iterator )

for i in range(len(nums)+1):
    print(nums[i])

In [ ]:
nums=[10,20,30,40]
for i in range(len(nums)+1):
    print(nums[i])

In [ ]:
names=["Amit","Neha","Ravi"]
marks=[85,90,78]
for name,mark in zip(names,marks):
    print(name,mark)

In [ ]:
users=["u1","u2","u3"]
roles=["admin","editor","viewer"]
for u,r in zip(users,roles):
    print(f"{u} -> {r}")

for i,(name,mark) in enumerate (zip(names,marks),start=1):
    print(i,name,mark)

In [ ]:
for i,(name,mark) in enumerate (zip(names,marks),start=1):
    print(i,name,mark)

names=["Amit","Neha","Ravi"]
marks=[85,90,78] 

max_marks=0
topper=""

for name,mark in zip(names,marks):
    if mark > max_marks:
        max_marks=mark
        topper=name
print("Topper:" topper)
print("Marks:",max_marks)

In [ ]:
names=["Amit","Neha","Ravi"]
marks=[85,90,78] 

max_marks=0
topper=""

for name,mark in zip(names,marks):
    if mark > max_marks:
        max_marks=mark
        topper=name
print("Topper:", topper)
print("Marks:",max_marks)

1. We have a list of students - Print roll numbers starting from 1 
students=[]
2. product=["Laoptop","mobile","Tablet"]
   proce[]

3. Find Topper 
   names=["Amit","Neha","Ravi"]
   marks=[85,90,78]  
   print student name with highest mark 

4. users=["user1","user2","user3"]
   login_stats=[True,False,True]

   user1 logged in sucessfully 
   user2 login failed 

5. data=[10,20,30,40,50,60]
   Print only even index elements using enumerate 

6. product=["Laoptop","mobile","Tablet"]
   proce[]
   ---> Increase each product price by 10% 

7. name=["amit","Neha","Ravi"]
   status=["active","inactive","active"]

   -- Print only active IDs with their index number 

a=[1,2,3,4]
b=[10,20]
for i,(x,y) in enumurate(zip(a,b)):
   print(i,x+y)



pairs=[(1,2),(3,4),(5,6)]
for i,(a,b) in enumerate(pairs):
   print(i+a+b)

In [ ]:
a=[1,2,3,4]
b=[10,20]
for i,(x,y) in enumerate(zip(a,b)):
    print(i,x+y)

In [ ]:
pairs=[(1,2),(3,4),(5,6)]
for i,(a,b) in enumerate(pairs):  # i index  (a,b)--> tuple values 
   print(i+a+b)

(0,(1,2))
(1,(3,4))
(2,(5,6))


i=0
a=1
b=2 
i+a+b=3 

i=1
a=3
b=4
i+a+b=8


13

students=["Amit","Neha","Ravi"]
marks=[85,90,78]  

max_marks=0
topper=""
for name,mark in zip(students,marks):
    if mark>max_marks:
        max_marks=mark
        topper=name
print("Topper:",topper)
print("Marks:",max_marks)

In [ ]:
students=["Amit","Neha","Ravi"]
marks=[85,90,78]  

max_marks=0
topper=""
for name,mark in zip(students,marks):
    if mark>max_marks:
        max_marks=mark
        topper=name
print("Topper:",topper)
print("Marks:",max_marks)


# 1. Print top 2 studnets 
# 2. Handle Tie marks
# 3. Print topper with ranks 
# 4. Modify to get Subject wise topper

In [ ]:
nums=[10,20,30]
for i in nums:
    print(i)

In [ ]:
nums=[10,20,4,45,99,99]
for i,val in enumerate(nums,start=1):
    print(i,val)

In [ ]:
nums=[0,0,0,0]
print(any(nums))

In [ ]:
attepsts=[True,False,True]
print(any(attepsts))
# At least one login attempt is successful

In [ ]:
fields=["name","email",""]
print(all(fields))
# One field is empty

In [ ]:
nums=[1,2,3,4]
result=map(lambda x:x*x,nums)
print(list(result))
#print(result)

prices=[100,200,300]
final_price=list(map(lambda x: x*1.18,prices))
print(final_price)

In [ ]:
prices=[100,200,300]
final_price=list(map(lambda x: x*1.18,prices))
print(final_price)

In [ ]:
nums=[1,2,3,4,5,6,7,8,9]
even=filter(lambda x:x%2==0,nums)
print(list(even))

In [ ]:
users=[
    {"username":"user1","active":True},
    {"username":"user2","active":False},
    {"username":"user3","active":True}, 
]

active_users=filter(lambda u:u["active"],users)
print(list(active_users))

data=["Amit","","None","Neha"] -- Filter 
marks=[45,78,90,98]  --- (pass >=35)

print(any(map(lambda x:x%2==0,[1,3,5]))).  ----> any([False,False,False])

In [ ]:
print(any(map(lambda x:x%2==0,[1,2,5])))

print(all(x>0 for x in [1,2,0,4]))

In [ ]:
print(all(x>0 for x in [1,2,0,4]))

salaries=[30000,40000,50000,80000,60000]
updated=map(
    lambda x: x*1.10,
    filter(lambda x : x>50000,salaries))
print(list(updated))

In [ ]:
salaries=[30000,40000,50000,80000,60000]
updated=map(
    lambda x: x*1.10,
    filter(lambda x : x>50000,salaries))
print(list(updated))

1. names= ["amit","sumit","","Ravi",None]
---. Clean & Formate Names 

-->['AMIT','SUMIT','RAVI']

2. scores=[85,-10,40,120,70]
-----> Extract Valid Scores & Convert to Grade 

-------> ['Pass','Pass','Pass']


3. stastus_code=[200,404,500,200,201]
---> API status Processing 
['Sucess',]

In [ ]:
name=["Amit","Neha"]
marks=[80,90]
pairs=list(zip(name,marks))
print(pairs)

In [ ]:
name=["Amit","Neha"]
marks=[80,90]
pairs=(zip(name,marks))
print(pairs)

In [ ]:
words=["Python","is","awesome"]
senetence=" ".join(words)
print(senetence)

In [ ]:
fileds=["Amit","25","Delhi"]
csv_lines=",".join(fileds)
print(csv_lines)

",".join([1,2,3]) ----> Error

"," join(map(str,[1,2,3]))   -----> Correct

1.attemps=[False,False,True,False]
check wheter user should be allowed to login.

allowed=any(attepts) ---print(allowed)

2. fileds=["abc","ahah@gmail",""]. ----> all()
check if the form is valid 

3. status_code=[200,200,200,200,200] ----> all().  ---> healthy=all(code==200 for code in status_code)
check if all APIs are healhty 

4. data=["neha",None,"","Amit",0] ---> Filter     valid_data=list(filter(lambda x:x,data)) 
Remove invalid entries and keep only valid data 

5. readings=[12.5,13.0,-1.2,14.5] -----> any  invalid=any(x<0 for x in readings) 
Check if any reading is invalid 

6. Slaries=[30000,40000,50000,60000]. ----->  Filter sal>50000 increa---by 10% 
Increase 10% salary only for salaries>50000

map(function,iterables)
filter(function,iterables)

updated=list(
    map(lambda x:x*1.10,filter(lambda x: x>50000,Slaries))
)
print(updated)

7. users=["Amit","neha",Ravi"]
Convert all username to lowercase  (x.lower)

8. marks=[40,55,32,78]
Check if any students falied (pass >=35). ----> any()

9.transactions=["SUCESS","FAILED","SUCCESS"].  
check if any transection is failed        

10. emails=["a@gmail.com","b@gmail.com",""]
Check if all emails are valid 

11. Values=[10,-5,20,0,30]
Remove invalid values and convert remanining values to string 

Use case                                Function 
At least one condition                  any()
All condition                           all()
Transform data                          map()
select data                             filter()
filter + tranform                       filter() ---> map()

In [ ]:
names=["amit","neha","ravi"]
marks=[80,90,70]
pairs=list(zip(names,marks))
print(pairs)

In [95]:
pairs=(zip(names,marks))

In [96]:
print(list(pairs))
print(list(pairs))

# Iterator works only once 
# After consuption , it cannot be reused - Empty list on second print

[('amit', 80), ('neha', 90), ('ravi', 70)]
[]

In [84]:

matrix=[[1,2],[3,4],[5,6]]
flat=[x for row in matrix for x in row ]
print(flat)

[1, 2, 3, 4, 5, 6]

In [85]:
flat=[]
for row in matrix:
    for x in row:
        flat.append(x)
print(flat)

[1, 2, 3, 4, 5, 6]

In [86]:
cube=[
    [[1,2],[3,4]],
    [[5,6],[7,8]]
]

flat=[]
for layer in cube:
    for row in layer:
        for x in row:
            flat.append(x)
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8]

In [88]:
flat=[x for layer in cube for row in layer for x in row]
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8]

In [89]:
matrix=[[1,2],[3,4]]

flat=[]
for row in matrix:
    flat.append(row)
print(flat)

[[1, 2], [3, 4]]

In [90]:

flat=[]
for row in matrix:
    flat.extend(row)
print(flat)

[1, 2, 3, 4]

In [91]:
matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

from itertools import chain 
flat=list(chain.from_iterable(matrix))
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
flat=list(chain(*matrix))
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
from itertools import chain 
a=[1,2]
b=[3,4]
c=[5,6]
result=chain(a,b,c)
print(list(result))

[1, 2, 3, 4, 5, 6]

records=[
    ("U1","Ravi",30),
    ("U1","Ravi",30),
    ("U2","Raj",25),
]

deduped=list(dict.fromkeys(records))
print(deduped)

In [94]:
records=[
    ("U1","Ravi",30),
    ("U1","Ravi",30),
    ("U2","Raj",25),
]

deduped=list(dict.fromkeys(records))
print(deduped)

[('U1', 'Ravi', 30), ('U2', 'Raj', 25)]

words=["data","engineer","spark"]
print(" ".join(words))

In [97]:
words=["data","engineer","spark"]
print(" ".join(words))

data engineer spark

In [98]:
words=["data","engineer","spark"]
print(",".join(words))

data,engineer,spark

In [99]:
chars=['P','Y','T','H','O','N']
print("".join(chars))

PYTHON

columns=["userid","country","time"]
query=f"SELECT {','.join(columns)} FROM events;"
print(query)

In [100]:
columns=["userid","country","time"]
query=f"SELECT {','.join(columns)} FROM events;"
print(query)

SELECT userid,country,time FROM events;

matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

flat=[]
for row in matrix:
    for x in row:
        flat.append(x)

for each row in matrix 
for each element x in that row 
put x into the new list 

print([x for row in matrix for x in row])

In [101]:
matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

flat=[]
for row in matrix:
    for x in row:
        flat.append(x)
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [102]:
print([x for row in matrix for x in row])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

cube=[
    [[1,2],[3,4]],
    [[5,6],[7,8]]
]

flat=[]
for layer in cube:
    for row in layer:
        for x in row:
            flat.append(x)

print([x for layer in cube for row in layer for x in row])

In [103]:
cube=[
    [[1,2],[3,4]],
    [[5,6],[7,8]]
]

flat=[]
for layer in cube:
    for row in layer:
        for x in row:
            flat.append(x)
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8]

In [104]:
print([x for layer in cube for row in layer for x in row])

[1, 2, 3, 4, 5, 6, 7, 8]

matrix=[
    [1,2,3],
    [5,6,7],
    [
        [7,8,9]
        [10,11,12]
    ]
]

3d --> 2d 

data= [1,[4,[5,7],8],[6,4]]

Write a function to get all elements in 1D

matrix=[[1,2],[3,4],[5,6]]
flat=[]
for row in matrix:
    flat.extend(row)
print(flat)

In [105]:
matrix=[[1,2],[3,4],[5,6]]
flat=[]
for row in matrix:
    flat.extend(row)
print(flat)

[1, 2, 3, 4, 5, 6]

In [107]:
from itertools import chain
flat=list(chain.from_iterable(matrix))
print(flat)

[1, 2, 3, 4, 5, 6]

for row in matrix:
    for item in row:
        item

In [ ]:
flat=list(chain(*matrix))
print(flat)

<itertools.chain object at 0x12079d300>

a=[]
a.extend([1,2])
print(a)

Level 1 Blocks
Level 2 rows 
Level 3 Elements 

cube =[
    [[1,2],[3,4]],
    [[5,6],[7,8]]
]

flat=[]
for block in cube:
    for row in block:
        flat.extend(row)

In [ ]:
flat=[]
for row in matrix:
    flat += row    #creates new list every time

a=[1,2]
b=[3,4]
c=a+b

In [1]:
x=[1,2,[3,4]]
x[2].append(5)
print(x)

[1, 2, [3, 4, 5]]