In [1]:
t=(10,20,30)
print(t)

(10, 20, 30)

In [2]:
t=10,20,30
print(t)

(10, 20, 30)

In [7]:
t1=(5,)

In [6]:
print(type(t1))  #int

<class 'int'>

In [8]:
t=()

In [9]:
print(type(t))

<class 'tuple'>

In [10]:
t=tuple([1,2,3,4])

In [11]:
print(t)

(1, 2, 3, 4)

In [12]:
t2=tuple("Hello")
print(t2)

('H', 'e', 'l', 'l', 'o')

In [13]:
t=(10,20,30,40)
print(t[0]) #10
print(t[-1]) #40

print(t[1:3]) # (20,30)
print(t[:2]) # (10,20)

10
40
(20, 30)
(10, 20)

In [14]:
t=(1,(5,6),3)

print(t[1][0])

5

In [15]:
t=(10,20,30)
t[0] =99 # TypeError

TypeError: 'tuple' object does not support item assignment

In [ ]:
t=(1,[10,20],3)
t[1].append(30)
print(t)

In [16]:
# Tuple Operations 
#Concatenation 
(1,2)+(3,4)

(1, 2, 3, 4)

In [28]:
t=(1,2)
t=t+(10,)
print(t)

(1, 2, 10)

In [32]:
t=()
for i in range(5):
    t=t+(i,)
print(t)

(0, 1, 2, 3, 4)

In [33]:
lst=[]
for i in range(5):
    lst.append(i)
t=tuple(lst)
print(t)

(0, 1, 2, 3, 4)

In [17]:
#Repeatation
(1,2)*3

(1, 2, 1, 2, 1, 2)

In [20]:
#Membership 
4 not in (1,2,3)

True

In [21]:
#Iteration
t=(10,20,30)
for x in t:
    print(x)

10
20
30

In [ ]:
# Tuple Functions 
#Count()
#index()
t=(1,2,2,3,4)
t.count(2)
t.index(2) #1 (first occurrence)
# len(t)
# min(t) ,max(t)
# sum(t)
# Sorted(t) ----> List

1

In [25]:
t=(5,1,2,2,3,4)
tuple(sorted(t))

(1, 2, 2, 3, 4, 5)

In [34]:
t=(10,20,30)
a,b,c=t

In [35]:
a

10

In [36]:
b

20

In [37]:
c

30

In [38]:
a,b=(1,2)

In [39]:
a

1

In [40]:
b

2

In [41]:
a,b=(1,2,3)

ValueError: too many values to unpack (expected 2)

In [42]:
# Multiple return values ()

def parse_record(row):
    user_id=row["user_id"],
    city=row["city"],
    action=row["action"],
    return user_id,city,action

In [43]:
uid,city,action=parse_record({"user_id":"20","city":"Mumbai","action":"view"})

In [44]:
uid

('20',)

In [45]:
city

('Mumbai',)

In [46]:
action

('view',)

In [47]:
a=5
b=10
a,b=b,a
print(a,b)

10 5

records=[("Amit",30),("Neha",25),("Ravi",45)]
for name,age in records:
   print(name,age)

In [48]:
records=[("Amit",30),("Neha",25),("Ravi",45)]
for name,age in records:
   print(name,age)

Amit 30
Neha 25
Ravi 45

In [50]:
nums=(1,2,3,4,5)
first,*rest=nums
print(first)
print(rest)

1
[2, 3, 4, 5]

# Find Common element Between Two Tuples (Order is Matters)
t1=(1,2,3,4,5)
t2=(3,5,7,9)

# Split tuple into Even & Odd 
t=(1,2,3,4,5,6,7)
even= (2,4,6)
odd=(1,3,5,7)

# Count Frequency of each Element 
t=(1,2,2,3,3,3,4)

output 
{1:1,2:2,3:3,4:1}

# Remove All Occurences of an element 
nums=[1,2,3,2,4,2,5]

Output - [1,2,3,4]

#----------Imp-----------# 
# Merge Two sorted tuple into one sorted tuple 
t1=(1,3,5,7)
t2=(2,4,6,8)

Output -- (1,2,3,4,5,6,7,8)

# Fallten Nested List 

lst=[1,[2,[3,4],5],6]
----> [1,2,3,4,5,6]

Hint:
    Recursion 
    Type Checking

LIST VS TUPLE 

[]         ()

Mutable     immnutable 
Ordered     ordered 

lst=[10,20,30,40]
tpl=(10,20,40,60)


lst=[10,20,30,40]
lst[0]=99-> [99,20,20,40]

Tuple:
tpl[0] -> TypeError 

Memory Usages   List  -> More -> Extra space for modification 
                Tuple -> Less -> Fixed size and optimized 
Speed           List -> Slower 
                Tuple -> Faster 


Tuple is faster becasue Python knows it will never change. 

Count()
index()


Dulplicates : Both Allow 


Indexing & Slicing : Both 

Nested Structure : 

lst=[1,[2,3],4] 

tpl=(1,[2,3],4)  -> Tuple itself didn't change 
                    -> But inner list change (list is mutable)

1. Why tuple is faster then list?
2. Can tuple contains list.
3. Can tuple be modified indirectly?
-> No, but inner mutable objects can change 


Use List when Data is Dynamic 
    - Add/remove/update 
    - Size of data is Unknown 
    - Data changes frequently 
    
    API Responses 

Use Tuple when data is FIXED/CONSTANT 
    - Data structure should never change 
    - Fixed number of values 
    - Represents single records 
    - Return multiple values from function 
    
    def get_stats(num):
        return min(nums),max(nums)


result=get_stats([10,20,30]) --> (10,30)


Senarios                     Use 

API payload list              List
DB rows                       Tuple 
Configuration                 Tuple 
Log Messages                  List 
Coordinates                   Tuple 
Function value                Tuple